<h2>Edit Your Post</h2>
<form class="create-form">
  <div class="form-group">
    <label for="ca">Post Body:</label>
    <input type="text" id="postBody" name="name">

{{!-- edited button 11/14 --}}
  <button type="submit" data-id="{{this.id}}">Delete</button>
  </div>


</form>


<p>{{post.title}}</p>

{{post.abstract}}
{{post.author}}
{{post.post}}




